<div class="jumbotron">
    <h1>Employees accounting home page</h1>
    <p class="lead">This is API homepage.</p>
    <p><a href="https://github.com/SLengo/employees_accounting_system/tree/master" class="btn btn-primary btn-lg">github page &raquo;</a></p>
</div>
